* {
    margin: 0;
    padding: 0;
}

header {
  
    display: flex;
    align-items: center;
    background-color: #FCA313;
    box-shadow: 1px 1px 10px black;
    z-index: 1;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCA313;
    box-shadow: 1px 1px 10px black;
    z-index: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  white;
    flex: 1;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}